<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="navbar bg-rose-200 py-4 mb-4 flex gap-x-96">
        <div>
            <h2 class="ml-8 w-96 text-rose-800">tv land</h2>
        </div>
        <div class="flex gap-x-24 text-white">
            <div>
                <form action="/"><button>popular movies</button></form>
            </div>
            <div>
                <form action="/series"><button>popular shows</button></form>
            </div>
            <div>
                <form action="/search"><button>search</button></form>
            </div>
            <div>
                <form action="/favorites"><button>favorites</button></form>
            </div>
        </div>
    </nav>

    <div class="grid grid-cols-5 ml-8 gap-x-0.5 gap-y-4 mt-8">
        {% for favorite in favorites %}
        <li class="list-none">
            <a href="{{ favorite.link }}">
                <img src="{{ favorite.image_url }}" width="240" height="325" class="rounded-lg shadow-xl">
            </a><p>{{favorite.title}}</p>
            
        </li>
        {% endfor %}
</div>


  
</body>
</html>
